/***********
 * General *
 ***********/

html {
	font-family: inherit;
	font-size: 100%;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 100%;
	color: #333;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

table {
	border-collapse: collapse;
}
th, td {
	border: 1px #333 solid;
	padding: 5px 10px;
	text-align: center;
}
th {
	background-color: #222C31;
	color: #fff;
}
tr {
	background-color: #fff;
	color: #333;
}
tr.current {
	background-color: #D3D5D6;
}



/********
 * Home *
 ********/


body.home {
	width: 100%;
	height: 100%;
	background-image: url('../img/background.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-color: #222C31;
	background-position: center center;
	background-repeat: no-repeat;
}
body.home #content {
	padding-bottom: 0;
}

body.home #intro {
	display: table;
	width: 100%;
	height: 100%;
}
body.home #intro div {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	color: #fff;
}
body.home #intro .overlay div {
	position: absolute;
	width: 720px;
	margin-left: -360px;
	margin-top: -80px;
	max-height: 200px;
	left: 50%;
}
body.home #intro p, body.home #intro div {
	width: 600px;
	margin: 0 auto;
}
body.home #intro h1, body.home #intro p {
	-webkit-font-smoothing: antialiased;	
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-weight: 400;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	font-size: 36px;
	text-align: center;
	line-height: 1.2;
}
body.home #intro h1 {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 20px;
}

body.home #intro p.learn {
	position: absolute;
	left: 0;
	bottom: 25px;
	width: 100%;
	text-align: center;
	padding-bottom: 6px;
}
body.home #intro p.learn a {
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	opacity: .7;
	background: url('../img/arrow.png') bottom center no-repeat;
	padding-bottom: 20px;
}
body.home #intro p.learn a:hover {
	opacity: 1;
}

body.home #gates {
    -webkit-font-smoothing: antialiased;
    background: #fff;
    text-align: center;
    padding: 45px 0;
}
body.home #gates section, #getting-started p {
    margin: 0 0 64px;
}
body.home #gates section h1 {
    -webkit-font-smoothing: antialiased;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
    font-weight: lighter;
    font-size: 36px;
    margin: 0 auto 12px;
}
body.home #gates section {
	padding-bottom: 64px;
	border-bottom: solid rgba(0, 0, 0, .1) 1px;
}
body.home #gates section:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
body.home #gates section p, #getting-started p {
    width: 640px;
    margin: 0 auto;
    padding: 0 0 64px;
}

body.home >#content>footer.main {
    position: static;
}


body.home header nav.main {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 25px;
}
body.home header nav.main ul {
    display: block;
    text-align: center;
}
body.home header nav.main ul li {
    display: inline-block;
    margin-left: 30px;
}
body.home header nav.main ul li:first-child {
    margin-left: 0;
}
body.home header nav.main ul li a {
    -webkit-font-smoothing: antialiased;
    opacity: .7;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px;
}
body.home header nav.main ul li.selected a, header nav.main ul li a:hover {
    opacity: 1;
}


body.home #content {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
#content>footer.main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #222C31;
}
#content>footer.main p {
    text-align: center;
}
#content>footer.main a, #content>footer.main span {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    text-decoration: none;
}


body.home #getting-started {
	background-color: #222C31;
	width: 100%;
}
body.home .sticked {
	padding-top: 425px;
}
body.home .sticked #gate-menu {
	position: fixed;
	top: 0;
	left: 0;
	max-height: 385px;
	overflow-y: hidden;
}
body.home #getting-started p {
	padding-top: 20px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-weight: lighter;
	font-size: 1.2em;
}
body.home #gate-menu {
	background-color: #17171A;
	width: 100%;
	text-align: center;
}
body.home #gate-menu a {
	color: #fff;
}
body.home #gate-menu li {
	display: inline-block;
	margin: 0 20px;
	margin-top: 30px;
}
body.home #gate-menu li a {
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: top center;
	display: block;
	width: 80px;
	height: 50px;
	padding-top: 100px;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-size: 1.2em;
}

li.not a {
	background-image: url('../img/gate/not.svg');
}
li.and a {
	background-image: url('../img/gate/and.svg');
}
li.nand a {
	background-image: url('../img/gate/nand.svg');
}
li.or a {
	background-image: url('../img/gate/or.svg');
}
li.nor a {
	background-image: url('../img/gate/nor.svg');
}
li.xor a {
	background-image: url('../img/gate/xor.svg');
}
li.xnor a {
	background-image: url('../img/gate/xnor.svg');
}
body.home #gate-menu h2 {
	color: #fff;
	font-size: 3em;
	margin-top: 100px;
	padding-bottom: 50px;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-weight: lighter;
}


body.home #gates h1 {
	padding-top: 80px;
}
body.home #gates h2 {
	font-size: 1.5em;
}
body.home #gates section div {
	width: 600px;
	margin: 0 auto;
	text-align: left;
}
body.home #gates canvas {
	width: 210px;
	height: 250px;
	background-color: red;
}
body.home #gates table {
	float: right;
}


body.home #experiment {
	padding: 64px 0 150px 0;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}
body.home #experiment p {
	width: 600px;
	margin: 0 auto;
}
body.home #experiment h2 {
	font-size: 3em;
	margin-top: 100px;
	padding-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-weight: lighter;
}



/******************
 * Build your own *
 ******************/

header.nav li {
	display: inline-block;
	margin: 5px 20px;
}
header.nav a {
	font-weight: 400;
	color: #fff;
}
header.nav nav {
	text-align: center;
	background-color: #17171A;
	padding: 15px 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
	font-weight: lighter;
	font-size: 1.2em;
}

body.build-your-own {
	overflow: hidden;
}

body.build-your-own #content {
	position: relative;
}

.build-your-own #menu {
	background-color: #222C31;
	width: 250px;
	padding-left: 20px;
	color: #fff;
	min-height: 100%;
	float: left;
}
.build-your-own #menu li {
	margin: 5px 0;
}
.build-your-own #menu li a {
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: left;
	display: block;
	line-height: 50px;
	height: 50px;
	padding-left: 60px;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
}
li.select a {
	background: url('../img/tool/select.svg') no-repeat;
}
li.link a {
	background: url('../img/tool/link-add.svg') no-repeat;
}
li.unlink a {
	background: url('../img/tool/link-remove.svg') no-repeat;
}
li.remove a, li.cancel a {
	background: url('../img/tool/remove.svg') no-repeat;
}
li.toggleState a {
	background: url('../img/tool/toggle-state.svg') no-repeat;
}
li.none a {
	background: url('../img/tool/none.svg') no-repeat;
}

.build-your-own #canvas {
	background-color: #fff;
}

#informations {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	padding: 20px;
	background-color: #222C31;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', arial;
}
#informations h1 {
	margin: 0;
}
#informations #results {
	margin-top: 20px;
}
#informations li {
	margin: 10px 0;
}

#contextualMenu {
	position: absolute;
	z-index: 42;
	border: 1px #E9E9E9 solid;
	background-color: #fff;
	top: 50px;
	left: 550px;
	box-shadow: 5px 5px 10px #E9E9E9;
	border-radius: 5px;
	display: none;
	overflow: hidden;
}
#contextualMenu li a {
	color: #333;
	display: block;
	padding: 0px 10px 0px 40px;
	line-height: 30px;
	background-size: 20px;
	background-position: 10px 5px;
}
#contextualMenu li:hover {
	background-color: #4D71F2;
}
#contextualMenu li:hover a {
	color: #fff;
}

#contextualMenu li.none a, #contextualMenu li.none:hover a {
	color: #ccc;
}
#contextualMenu li.none:hover {
	background-color: #fff;
}


















